[data-component='Backdrop'] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(
            17deg,
            rgba($black, 0.86) 0%,
            rgba($black, 0.82) 11%,
            rgba($black, 0.72) 50%,
            rgba($white, 0.28) 100%
        );
    }
}
