[data-component='MovieDetails'] {
    position: relative;
    margin-top: $base * 12;
    cursor: default;
    .__year {
        font-size: 158px;
        height: 158px;
        font-weight: 900;
        color: rgba($white, 0.1);
        z-index: -1;
        letter-spacing: -12px;
    }
    .__title {
        color: $white;
        font-size: $base * 6;
        font-weight: bold;
        margin-bottom: $base * 2;
        letter-spacing: -1px;
    }
    .__overview {
        color: rgba($white, 0.7);
        letter-spacing: 1px;
        font-size: $base * 2.8;
        max-width: $base * 72;
        font-weight: 100;
    }
    .__genre {
        margin-top: $base * 2;
    }
    .__fact {
        height: $base * 4;
        display: flex;
        justify-content: center;
        align-items: center;
        .anticon {
            color: $red;
            margin-right: $base;
        }
        color: rgba($white, 0.6);
        font-size: $base * 2;
        letter-spacing: 1px;
    }
}
