@import '~antd/dist/antd.min.css';
@import './variables';

@mixin shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@import './layouts/Main';
@import './components/Sidebar';
@import './components/Header';
@import './components/Container';
@import './components/Backdrop';
@import './components/Tag';
@import './components/Details';
@import './components/VideoPlayer';
@import './components/MovieCard';

[data-page='/'] {
}

body {
    background-color: $dark-background;
    color: white;
}

.ant-modal-body {
    > div {
        display: flex;
    }
}
