@import '~antd/dist/antd.min.css';

//
@import './variables';
@import './mixins';

// components
@import './layouts/Main';
@import './components/Sidebar';
@import './components/Header';
@import './components/Container';
@import './components/Backdrop';
@import './components/Tag';
@import './components/VideoPlayer';
@import './components/MovieCard';
@import './components/MovieDetails';

// [data-page='/'] {
// }

body {
    background-color: $dark-background;
    color: white;
}

// ant overriding
.ant-modal-body {
    > div {
        display: flex;
    }
}
